<div class="row">
    <div class="col-6">
        <h2>New Todo</h2>
        <form method="POST" action="/todos/new">
            <div class="form-group">
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
            </div>
            <hr />
            <button type="submit" class="btn btn-primary">Submit</button>
            <hr />
        </form>
    </div>
</div>