<div class="list-group-item">
    <div class="row">
        <div class="col-4">
            <img [src]="product.image" alt="product image" class="img-fluid" />
        </div>
        <div class="col-8">
            <div>{{product.name}}</div>
            <div>{{product.price | currency:'INR'}}</div>
            <button class="btn btn-primary">Add to cart</button>
            <div class="mt-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a (click)="changeTab(1)" [ngClass]="{'nav-link':true,active:isTabSelected(1)}"
                            href="#">Description</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="changeTab(2)" [ngClass]="{'nav-link':true,active:isTabSelected(2)}"
                            href="#">Specification</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="changeTab(3)" [ngClass]="{'nav-link':true,active:isTabSelected(3)}">Reviews</a>
                    </li>
                </ul>
                <div *ngIf="isTabSelected(1)">{{product.description}}</div>
                <div *ngIf="isTabSelected(2)">Not Yet</div>
                <div *ngIf="isTabSelected(3)">
                    <div *ngFor="let review of reviews">
                        <app-review [review]="review"></app-review>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>