<button (click)="toggle()">{{isOpen?'-':'+'}}</button>

<div class="card" *ngIf="isOpen">
    <div class="card-body">
        <div>
            <form (submit)="handleSubmit($event)">
                <div class="form-group">
                    <label for="rating">Rating</label>
                    <select class="form-control" id="rating" name="rating" [(ngModel)]="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="review">Review</label>
                    <textarea class="form-control" id="review" name="review" [(ngModel)]="review"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>